* {
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
}

.app {
  background-color: #171719;
  color: #fff;
  min-height: 100vh;
}

.app-container {
  width: 80%;
  margin: auto;
  background-color: #1f2023;
}

.logo-text {
  font-weight: 400;
}

/* HEADER CSS */
.header {
  border-bottom: solid 2px #ff4655;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.header-logo {
  width: 5%;
}

.logo-header-container {
  display: flex;
  align-items: center;
}

.btn-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.collection-btn {
  margin: 0px 40px;
  white-space: nowrap;
}

.login-btn {
  background-color: #ff4655;
  padding: 5%;
  border-radius: 8%;
  box-shadow: rgba(145, 21, 21, 0.596) 1.95px 1.95px 2.6px;
}

/* CSS FILTER PART (HOME PAGE) */

.filter-part {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.logo-img {
  width: 10%;
  margin-right: 5px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-logo {
  font-weight: 400;
  font-size: 300%;
  margin-bottom: 5px;
  text-shadow: 1px 1px 3px rgb(197, 197, 197);
}
.undeline-text {
  font-size: 80%;
  text-align: center;
}
.search-input {
  width: 30%;
  position: relative;
}

.search-input input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}
.loupe {
  color: #1f2023;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  font-size: 20px;
}

.text-game-result {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}
.italic-search {
  font-style: italic;
  text-align: center;
}
.total-search {
  font-size: 19px;
  text-align: center;
  margin-bottom: 40px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-btn {
  background-color: #ff4655;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px 10px;
  margin: 0px 10px;
}

.gamepad-select {
  background-color: #404040;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin: 0px 10px;
}

.gamepad-select select {
  background: #404040;
  border-radius: 5px;
  font-size: 1.05em;
  color: inherit;
  border: none;
}
/* CSS CARD OF GAMES (HOME PAGE) */

.game-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game-card {
  width: 18%;
  height: 300px;

  border-radius: 20%;
  position: relative;
  margin: 20px 10px;
}
.game-card-image {
  object-fit: cover;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}

.game-card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 80%;
  color: #fff;
  font-weight: lighter;
  text-shadow: 1px 1px 2px #777;
  z-index: 1;
}
/* CSS FOOTER */
.footer {
  font-size: 70%;
  text-align: end;
  margin-top: 20px;
}
.footer-link {
  text-decoration: underline;
  color: #fff;
}

/* CSS PAGINATION*/
.btn-pagination {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color: #1f2023;
  border: none;
  padding: 15px;
}
.active {
  background-color: #ff4655;
  padding: 15px;
  border-radius: 8%;
  border: none;
}

/* CSS UTILS */
.full-width {
  width: 100%;
}

.underline-red {
  position: relative;
  z-index: 2;
}

.underline-red:before {
  content: " ";
  position: absolute;
  z-index: -1;
  height: 5px;
  width: 50%;
  bottom: 20%;
  left: 0;
  transform: skew(-45deg, 0deg);
  background-color: #ff4655;
}
/* CSS FORM LOGIN */
.login-wrapper {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.part-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(14, 14, 14);
  background: linear-gradient(
    0deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(51, 52, 54, 1) 100%
  );
  width: 400px;
  height: 450px;
  padding: 20px;
  border-right: #ff4655 2px solid;
  border-radius: 5px 0px 0px 5px;
  position: relative;
}
.part-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(14, 14, 14);
  background: linear-gradient(
    180deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(51, 52, 54, 1) 100%
  );
  width: 400px;
  height: 450px;
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
}

.element-list {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px;
}
.icon-list {
  margin: 5px 10px;
}
.little-undertext {
  font-size: 11px;
  text-align: center;
}
.login-logo {
  width: 5%;
  position: absolute;
  top: 5px;
  left: 5px;
}
.left-title {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 150%;
  font-weight: 300;
  text-align: left;
}
.text {
  font-size: 80%;
  margin-left: 10px;
  line-height: 150%;
}

.part-right input[type="email"],
.part-right input[type="password"],
.part-right input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

.right-title {
  margin-bottom: 10px;
  font-size: 150%;
  font-weight: 300;
}

.part-right input[type="submit"] {
  background-color: #ff4655;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  color: #fff;
  margin-bottom: 5px;
}
.login-form {
  width: 80%;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.passwords-wrapper {
  display: flex;
}

.space-passwords {
  margin-right: 5px;
  padding-right: 5px;
}
.part-right input[name="password"] {
  margin-right: 5px;
}
input[type="file"] {
  display: none;
}
.inputfile {
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 50%;
  color: #777;
  font-size: 80%;
}
.icon-upload {
  padding-left: 10px;
}
